html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #FCFFEE;
  width: 90%;
}

#header {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 2em auto;
  justify-content: space-between;
}

.menu__logo {
  width: 10%;
  height: 100px;
  background-image: url(../images/brychar-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 center;
}

.nav, .nav__items, ul, li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-grow: 0.4;
  list-style: none;
}
.nav a:link, .nav a:visited, .nav a:active, .nav__items a:link, .nav__items a:visited, .nav__items a:active, ul a:link, ul a:visited, ul a:active, li a:link, li a:visited, li a:active {
  text-decoration: none;
  color: black;
}
.nav a:hover, .nav__items a:hover, ul a:hover, li a:hover {
  -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#landing {
  display: flex;
  flex-wrap: wrap;
  flex: row;
  justify-content: space-between;
  margin-bottom: 150px;
}
#landing .landing__text {
  display: flex;
  flex-direction: column;
  width: 40%;
  white-space: nowrap;
  justify-content: end;
}
#landing .landing__text .landing__text--loc {
  display: flex;
  flex-direction: row;
}
#landing .landing__text .landing__text--loc .landing__text--pin {
  width: 5%;
  height: auto;
  background-image: url(../images/pin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 center;
  margin-right: 1em;
}
#landing .landing__text .landing__text--wordmark {
  width: 45vw;
  object-fit: contain;
  z-index: 1;
  margin-left: -2%;
}
#landing .landing__imgcontainer {
  width: 60%;
  height: 80%;
  min-height: 700px;
  display: flex;
  position: relative;
}
#landing .landing__imgcontainer .landing__img {
  border: 3px solid black;
  border-radius: 45px;
  min-width: 100%;
  height: 80%;
  min-height: 750px;
  background: url(../images/brychar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  flex: 1;
  background-color: #444;
}
#landing .landing__imgcontainer .rsvp__btn {
  background-image: url(../images/rsvp-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 26%;
  min-width: 350px;
  position: absolute;
  bottom: -30px;
  right: -50px;
  rotate: -15deg;
}

.two-block {
  display: flex;
  flex-direction: row;
  margin: 150px 0 150px 0;
  justify-content: space-between;
  align-items: center;
  /** SCHEDULE **/
}
.two-block .story__text {
  width: 48%;
  text-align: left;
}
.two-block .story__imgcontainer {
  width: 48%;
  min-height: 800px;
  display: flex;
  position: relative;
}
.two-block .story__imgcontainer .story__img {
  width: 100%;
  background-image: url(../images/brychar2.jpg);
  background-repeat: no-repeat;
  background-position: center 15%;
  background-size: cover;
  position: relative;
  flex: 1;
  border: 3px solid black;
  border-radius: 45px;
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}
.two-block .story__imgcontainer .hitched_sticker {
  background-image: url(../images/hitched.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 26%;
  min-width: 350px;
  position: absolute;
  bottom: -30px;
  right: -50px;
  rotate: -15deg;
  -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.two-block .schedule__img {
  width: 48%;
  min-height: 500px;
  background-image: url(../images/brychar-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}

#schedule {
  display: flex;
  flex-direction: row;
  margin: 150px 0 150px 0;
  justify-content: space-between;
  align-items: center;
}
#schedule .schedule__img {
  width: 48%;
  min-height: 500px;
  background-image: url(../images/brychar-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}
#schedule .schedule__text {
  width: 48%;
}

.directions {
  display: flex;
  flex-direction: column;
  margin: 150px 0 150px 0;
  justify-content: space-between;
  align-items: center;
}
.directions .iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 700px;
  margin-bottom: 150px;
}
.directions .iframe-container iframe {
  position: absolute;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
.directions .directions__text {
  width: 100%;
}

/** ANIMATION STUFF **/
.rsvp__btn {
  -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.rsvp__btn:hover {
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes shake-lr {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
/* 
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/** TYPE STUFF **/
body, .article {
  font-family: "Hanken Grotesk", sans-serif;
  margin: auto;
}

h1, .h1 {
  font-size: 5.5vw;
  line-height: 100%;
  font-weight: 700;
  margin-top: 0em;
  margin-bottom: 0em;
}

h2, .h2 {
  font-weight: 100;
  font-size: 2.8vw;
  line-height: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
}

h3, .h3 {
  font-weight: 700;
  font-size: 2.8vw;
  line-height: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
}

h4, .h4 {
  font-weight: 100;
  font-size: 2.3vw;
  line-height: 150%;
  margin-top: 0em;
  margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote {
  font-size: 1.5vw;
  line-height: 150%;
  margin-top: 0em;
  margin-bottom: 0em;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 2px solid;
  margin: -1px 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 800px) {
  #header {
    display: none;
  }

  #landing, .two-block {
    flex-direction: column !important;
    align-items: center;
    margin-top: 150px;
  }
  #landing .landing__text, .two-block .landing__text {
    width: 90%;
  }
  #landing .landing__text--wordmark, .two-block .landing__text--wordmark {
    min-width: 100% !important;
  }
  #landing .landing__imgcontainer, #landing .story__text, #landing .story__imgcontainer, #landing .schedule__img, .two-block .landing__imgcontainer, .two-block .story__text, .two-block .story__imgcontainer, .two-block .schedule__img {
    width: 90%;
    margin: 3em 0 3em 0;
  }
  #landing .iframe-container, .two-block .iframe-container {
    width: 90%;
  }

  h1, .h1 {
    font-size: 13vw;
    line-height: 100%;
    font-weight: 700;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  h2, .h2 {
    font-weight: 100;
    font-size: 6.5vw;
    line-height: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  h3, .h3 {
    font-weight: 700;
    font-size: 4.2vw;
    line-height: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  h4, .h4 {
    font-weight: 100;
    font-size: 5vw;
    line-height: 150%;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .hitched_sticker, .rsvp__btn {
    min-width: 250px;
    right: -20px !important;
  }
}

/*# sourceMappingURL=style.css.map */
